html, body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    gap: 40px;
    flex-wrap: wrap-reverse;
}


.canvas-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    #background-cavnas{
        background-color: white;
        border: 1px solid black;
    }

    #game-canvas{
        position: absolute;
    }
}


.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

    #next-shape-canvas {
        border: 2px solid white;
    }
}